body
{
    text-align: center;
    background-color: #283149;
}

h1{
    font-size: 5rem;
    color: #DBEDF3;
    font-family:  "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}

.btn
{
    width: 150px;
    height: 150px;
    font-size: 5rem;
    color: #DA0463;
    font-family:  "Arvo", cursive;
    text-shadow: 3px 0 #DBEDF3;
    font-weight: bolder;
    border: #404B69 10px solid;
    padding-top: 25px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 25px;
    border-radius: 25px;
}

footer
{
    color: white;
    font-size: 1rem;
}

.w
{
    background-image: url(images/crash.png);
    
}
.a
{
    background-image: url(images/kick.png); 
}
.s
{
    background-image: url(images/snare.png);
}
.d
{
    background-image: url(images/tom1.png);
}
.j{
    background-image: url(images/tom2.png);
}
.k
{
    background-image: url(images/tom3.png);
}
.l
{
    background-image: url(images/tom4.png);
}

.pressed
{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}